<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=VPC_2014;Uid=sa;Pwd=372923lzh"  providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=121.41.128.154;Initial Catalog=VPC_2014;Uid=sa;Pwd=xavierxing" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--网站基本配置开始-->
    <add key="title" value="51eshare" />
    <add key="description" value="51eshare" />
    <add key="keywords" value="51eshare" />
    <!--网站基本配置结束-->
    <!--邮件基本配置开始-->
    <add key="HostIP" value="51eshare" />
    <add key="username" value="51eshare" />
    <add key="password" value="51eshare" />
    <add key="smtpport" value="25" />
    <add key="ssl" value="0" />
    <!--邮件基本配置结束-->
    <add key="AjaxFramewok" value="AjaxMethod" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime requestValidationMode="2.0" />
    <pages enableEventValidation="false" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="Wuqi.Webdiyer" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
        <identity impersonate="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
    <add name="ajaxhandler" verb="*" path="*.ajax" type="AjaxFramework.AjaxHandlerFactory,AjaxFramework" preCondition="integratedMode" />
  </handlers>
  <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>